/*Flexbox*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
}
.how-to-item{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

/*装飾･見栄えに関する部分*/
ul, ol{
    margin-left: 1rem;
}

/*モバイル用のスタイル*/
@media (max-width: 600px){
    .container{
        margin: 1rem;
        margin-bottom: 5rem;
    }
    .how-to-item{
        margin: 0.5rem;
        padding: 0.5rem;
    }
}