/*機能に関する部分*/
/*Flexbox*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
    background-color: gray;
}
.timer-items{
    display: flex;
}


/*装飾･見栄えに関する部分*/
html {
    background-color: #f1e2be;
}
header, footer {
    background-color: #c1994d;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    width: 100vw;
}
footer {
    position: fixed;    /*下部に固定*/
    bottom: 0;
}
.foot-fixed{
    position: fixed;
    bottom: 2.5rem;
}
h1 {
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}
h3, h4 {
    padding: 0.5rem 0.5rem 0 0;
}
div.introduce {
    padding: 0.75rem;
    font-size: 1.125rem;
    text-align: center;
}
.origin-recipe-div{
    background-color: #b9d0b1;
}
.target-recipe-div{
    background-color: #b0941e;
}
.output-recipe-div{
    background-color: #e1c0bd;
}
.timer-div{
    background-color: #bdc6b7;
}
.item {
    margin: 1rem;
    padding: 1rem;
    width: 45%;
}


/*フォーム部分*/
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
}
/*入力欄部分*/
input[type="text"],
textarea {
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    border-radius: 5px;
}
input[type="text"] {
    width: 8%;
    max-width: 100px;
}
input[type="text"].four-digits{
    width: 12%;
    max-width: 100px;
}
/*ボタン部分*/
.convert-button-parent {
    text-align: center;
}
.convert-button {
    display: inline;
    background-color: #c1994d;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
}